<div>
  <div class="row justify-content-center" style="padding-top: 10vh;">
    <div class="col-md-12">
      <img style="height: 134px; width: 100%;" src="./assets/images/banner-boumo.png"/>
    </div>
  </div>
  <form [formGroup]="emailFormGroup" [hidden]="data">
    
    <div class="row justify-content-center" style="margin-top: 20vh;">

      <div class="col-md-5 align-self-center" [hidden]="invited" >
        <div class="form-group">
          <input type="text" class="form-control" formControlName="email" placeholder="Email">
          <div class="text-danger" *ngIf="emailFormGroup.controls.email.errors?.required"
            style="font-size: small;">This field is required.
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5 align-self-center" *ngIf="invited">
        <div class="form-group">
          <label class="bmd-label-floating">Write the code sent by email here:</label>
          <input type="text" class="form-control centered" style="font-size: xx-large" formControlName="code">
          <div class="text-danger" *ngIf="emailFormGroup.controls.email.errors?.required"
            style="font-size: small;">This field is required.
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <br>
      <div class="col-md-3 align-self-center centered" *ngIf="!invited">
        <button class="btn-default align-self-center" (click)="sendInvitationCode()" >Request Code</button>
      </div>
      <div class="col-md-3 align-self-center centered" *ngIf="invited">
        <button class="btn-default align-self-center" (click)="sendInvitationCode('login')" >Login</button>
      </div>
    </div>
  </form>
  <br>
  <br>
  <div class="row justify-content-center">
      
    <div class="col-md-12 align-self-center" *ngIf="data">
      <form [formGroup]="dataFormGroup">
        <div class="row justify-content-center">
          <div class="col-md-7 align-self-center">
            <h4 class="modal-title pull-left"> Personal Info </h4>
          </div>
        </div>
        <div class="row justify-content-center">

          <div class="col-md-5 align-self-center">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="email" placeholder="Email">
              <div class="text-danger" *ngIf="dataFormGroup.controls.email.errors?.required"
                style="font-size: small;">El
                campo es requerido.
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-5 align-self-center">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="name" placeholder="Name">
              <div class="text-danger" *ngIf="dataFormGroup.controls.name.errors?.required"
                style="font-size: small;">El
                campo es requerido.
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-5 align-self-center">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="occupation" placeholder="Occupation">
              <div class="text-danger" *ngIf="dataFormGroup.controls.occupation.errors?.required"
                style="font-size: small;">El
                campo es requerido.
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-5 align-self-center">
            <div class="form-group">
              <input type="number" class="form-control" formControlName="phone" placeholder="Phone Number">
              <div class="text-danger" *ngIf="dataFormGroup.controls.phone.errors?.required"
                style="font-size: small;">El
                campo es requerido.
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <br>
          <div class="col-md-3 align-self-center centered">
            <button class="btn-default align-self-center" (click)="sendInvitationCode(false,true)" >Save Personal Info</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>