<div>
  <form>
    <div class="row justify-content-center">
      <div class="col-md-7">
        <h4 class="modal-title pull-left"> SOM Accesses: </h4>
      </div>
    </div>
    <div class="row justify-content-center" *ngFor="let key of keychain">

      
      <div class="col-md-7" *ngIf="key.split('|')[0] != 'Guest'"
      style="height:200px; padding:60px 25% 80px 25%; border: solid 3px black; margin-top: 30px;">
        <div class="form-group">
          <h6 class="modal-title pull-left"> {{ key.split('|')[0] }} </h6>
          <br>
          <h6 class="modal-title pull-left"> {{ roles[key.split('|')[1]] }} </h6>
        </div>
      </div>

      <div class="col-md-7" *ngIf="key.split('|')[0] == 'Guest'"
      style="height:200px; padding:60px 25% 80px 25%; border: solid 3px black; margin-top: 30px;">
        <div class="form-group">
          <h6 class="modal-title pull-left"> {{ key.split('|')[0] }} </h6>
        </div>
      </div>

    </div>

    <div class="row justify-content-center" >
      <div class="col-md-7">
          <button class="btn-default centered" style="width: 100%" (click)="Logout()" >Logout</button>
      </div>
    </div>
  </form>
</div>