/* You can add global styles to this file, and also import other style files */
body {
    background-color: #0c54ae!important;
}

.banners {
    background-color: #fb9638;
}

* {
    color: white;
    border: white;
}

.btn-default {
    margin-top: 5vh;
    background-color: #fb9638;
    color: #0c54ae;
    border: 0;
    height: 60px;
    width: 200px;
    border-radius: 6px;
    font-weight: 600;
    font-size: large;
}

*.centered {
    text-align: center!important;
}

input.form-control {
    height: 50px;
    background-color: #0c54ae;
    color: white;
    border: solid 2px white;
    font-weight: 600;
}

.form-control:disabled {
    background-color: #0c54ae!important;
}

.form-control:focus {
    background-color: #0c54ae!important;
    color: white!important;
}

::placeholder {
    color: white;
    opacity: 1;
}